<div class="row mb-3">
    <div class="col-md-7">
        {{{form}}}
    </div>
    <div class="col-md-5">
        <div class="form-group">
            {{{source_text}}}
        </div>
    </div>
</div>